/* TODO: Clean this up. */

/* Hide ratings everywhere *while* the page is loading, via run_at: document_start. */

/* Ingame box on the right: rating */
.username rating,
/* Ingame box on the right: rating change */
.username .rp
{
	visibility: hidden;
}

/* Tooltip over player name */
#powerTip .ratings
{
	visibility: hidden;
}

/* Elo change in left side box */
.side_box .players .player .rp
{
	visibility: hidden;
}

/* Prevent player links in the left ingame side box from flashing with ratings
 * *while* the page is loading. So this needs to be unconditional/reversed logic. */
.side_box .players .player a.user_link
{
	visibility: hidden;
}
