/* Ingame box on the right: rating */
.ruser rating,
/* Ingame box on the right: rating change */
.ruser good,
.ruser bad,
/* Tooltip over player name */
#powerTip .upt__info__ratings,
/* Elo change in left side box */
div.game__meta__players .player good,
div.game__meta__players .player bad,
/* Ingame box on the left: rating */
div.game__meta__players .player a.user-link,
div.game__meta__players .player a.user-link .hide_elo,
/* Tooltip over player name *while* loading. */
#powerTip .user-link .hide_elo,
#powerTip .user-link good,
#powerTip .user-link bad,
/* Analysis board: rating change */
div.advice-summary a.user-link good,
div.advice-summary a.user-link bad,
/* Profile page: Activity */
div.activity div.entry rating,
/* Profile page: Games */
div.games article.game-row div.versus div.player,
/* Profile page: textual ratings */
div.sub-ratings rating,
div.sub-ratings .rank,
/* Challenge: outgoing */
div#modal-wrap div.ratings,
/* Analysis board: PGN */
div.analyse__underboard__panels div.fen-pgn div.pgn,
/* Insights: sample games */
main#insight div.game-sample span.vstext__pl span.hide_elo,
main#insight div.game-sample span.vstext__op span.hide_elo
{
	visibility: hidden;
}
/* Challenge: incoming */
div#challenge-app div.challenges a.user-link name .hide_elo
{
	display: none;
}
/* Profile page: graphical ratings. This seems to be overriden by the
 * dynamically loaded charts. !important fixes that. */
div.rating-history
{
	display: none !important;
}

/* Elo in seek list. Other methods don't preserve the cell background and mouse
 * events. */
div.lobby__app__content td.hide_elo
{
	font-size: 0;
}

/* Profile page: mouse hover */
div.rating-history
{
	pointer-events: none;
}

/* Profile page: current rating, highest/lowest rating, best/worst games */
section.glicko,
section.highlow.split,
section.result.split
{
	display: none;
}

/* Undo hide for subcomponents, or after processing. */
div.game__meta__players .player a.user-link.elo_hidden,
div.games article.game-row div.versus div.player a.user-link,
div.sub-ratings rating span,
div.analyse__underboard__panels div.fen-pgn div.pgn.elo_hidden
{
	visibility: visible;
}

/* --- Show ratings when extension is off. --- */

body.no_hide_elo .ruser rating,
body.no_hide_elo .ruser good,
body.no_hide_elo .ruser bad,
body.no_hide_elo #powerTip .upt__info__ratings,
body.no_hide_elo div.game__meta__players .player good,
body.no_hide_elo div.game__meta__players .player bad,
body.no_hide_elo div.game__meta__players .player a.user-link .hide_elo,
body.no_hide_elo #powerTip .user-link .hide_elo,
body.no_hide_elo #powerTip .user-link good,
body.no_hide_elo #powerTip .user-link bad,
body.no_hide_elo div.advice-summary a.user-link good,
body.no_hide_elo div.advice-summary a.user-link bad,
body.no_hide_elo div.activity div.entry rating,
body.no_hide_elo div.games article.game-row div.versus div.player,
body.no_hide_elo div.sub-ratings rating,
body.no_hide_elo div.sub-ratings .rank,
body.no_hide_elo div#modal-wrap div.ratings,
body.no_hide_elo main#insight div.game-sample span.vstext__pl span.hide_elo,
body.no_hide_elo main#insight div.game-sample span.vstext__op span.hide_elo
{
	visibility: visible;
}
body.no_hide_elo div.rating-history
{
	display: block !important;
}
body.no_hide_elo div#challenge-app div.challenges a.user-link name .hide_elo
{
	display: inline;
}
body.no_hide_elo section.glicko,
body.no_hide_elo section.highlow.split,
body.no_hide_elo section.result.split
{
	display: flex;
}

body.no_hide_elo div.lobby__app__content td.hide_elo
{
	font-size: 100%;
}

body.no_hide_elo div.rating-history
{
	pointer-events: auto;
}
